
@charset "utf-8";
	
	.slm_line {
		width:100%;
	}

	.slm_line ul {
		display:table;
		margin:1px !important;	
		padding:1px;
		width:100%;
	}

	.slm_line ul li  {
		display:table-cell;
		margin:1px;
		padding:1px;
		vertical-align:middle;
	}
	
	
	.slm_line a[data-role="button"] {
		background:-moz-linear-gradient(rgba(34,85,136,0.5), rgba(34,85,136,1));  
		background:-webkit-gradient(linear, 100% 0%, 100% 100%, from(rgba(34,85,136,0.5)), to(rgba(34,85,136,1)));  
		border:1px solid #225588;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		color:#ffffff;
		display:block;
		font-size:12px;
		font-weight:bold;
		padding:12px 0 8px 0;
		text-align:center;
		text-decoration:none;
		z-index:9999;
		
	}
	
	.slm_tran_button {
		border:1px solid #CCC;
		border-width:2px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		display:inline;
		font-size:100%;
		font-weight:bold;
		height:50px;
		position:fixed;
		text-align:center;
		width:50px;
	}
	
	#slm_regist_button,
	#slm_exec_regist {
		bottom:10px;
		right:10px;
	}

	#slm_mainpage_regist {
		bottom:10px;
		left:10px;
	}
	#slm_exec_delete {
		bottom:10px;
		right:70px;
	}
	
	.slm_main_line ul{
		position:relative;
	}
	
	.slm_main_line img 	{
		height:auto;
		width:auto;
	}
	
	.slm_main_line li {
		background:#ffffff;
		border:1px dotted #8894A3;
		color:#000000;
		font-size:12px;	//this value don't change.scripts calculate this value; 
		font-weight:lighter;
		display:table-cell;
		text-align:center; 
		text-decoration:none;
		padding:0;
		vertical-align:middle;
	}
	
	.slm_first_li {
		margin:0px;
		padding:0px;
		width:50px;
	}
	
	.slm_time_li {
		margin:0px;
		padding:0px;
	}
	.slm_noimg {
		display:block;
		font-size:9px;
		text-align:center;
	}
	
	
	.slm_tile {
		background: #99CCFF;
		border-color:#0066CC;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
		border-style:solid;
		border-width:1px;
		color: #000000;
		height: 1em;
		left: 0px;
		margin:0px;
		opacity: 0.5;
		overflow:hidden;
		padding:0px;
		top: 0px;
		white-space:nowrap;
		width: 100px;
		
	}


	.slm_myres_comp {
		background:#6F6;
		border-color:#6C6;
		
	}

	.slm_myres_temp {
		background:#F9C;
		border-color:#F0C;
	}
	
	.slm_label {
		display:table-cell;
		text-align:right;
		vertical-align:middle;
		width:33%;
		
	}
	

	
	.slm_li {
		width:67%;
	}
	
	.slm_left {
		text-align:left;
	}
	
	
	.slm_li_3 {
		width:33%;
	}
	
	#slm_searchdate {
		font-size:16px;
		padding:1px;
		width:100%;
	}
	
	#slm_searchdays {
		padding-left:3px;
		width:100%;
	}

	.slm_line input[type="text"]
	,.slm_line input[type="date"]
	,.slm_line input[type="password"] {
		margin:1px;
		width:100%;
	}
	
	
	.slm_chk {
		clear:both;
		display:inline-block;
		margin:0;
		padding:0;
	}

	.slm_chk li {
		border-right:none;
		border:solid 1px #ddd;
		display:inline-block;
		float:left;
		list-style:none;
		overflow:hidden;
		position:relative;
		width:45%;
	}

	.slm_chk li:first-child {
		-webkit-border-radius: 5px 0 0 5px;
		-moz-border-radius: 5px 0 0 5px;
		border-radius:5px 0 0 5px;
	}

	.slm_chk li:last-child {
		border-right:solid 1px #ddd;
		-webkit-border-radius:0 5px 5px 0;
		-moz-border-radius:0 5px 5px 0;
		border-radius:0 5px 5px 0;
	}
	
	.slm_chk label {
		background:-webkit-gradient(linear, left top, left bottom, from(#FFF),to(#EEE));
		background:-moz-linear-gradient(top, #fff, #eee);
		background:#eee;
		border:solid 1px rgba(255,255,255,0.2);
		display:block;
		min-width:3em;
		padding:5px;
		text-align:center;
		text-shadow:0 1px 0 rgba(255,255,255,0.5);
	}

	.slm_chk li:first-child label {
		-webkit-border-radius:3px 0 0 3px;
		-moz-border-radius:3px 0 0 3px;
		border-radius:3px 0 0 3px;
	}
	
	.slm_chk li:last-child label {
		-webkit-border-radius:0 3px 3px 0;
		-moz-border-radius:0 3px 3px 0;
		border-radius:0 3px 3px 0;
	}

	.slm_chk input[type=checkbox] {
		cursor:pointer;
		height:100%;
		margin:0px;
		opacity:0;
		padding:0px;
		position:absolute;
		width:100%;
	}

	.slm_chk input[type=checkbox]:checked {
		cursor:auto;
	}

	.slm_chk input[type=checkbox]:checked ~ label {
		border:solid 1px rgba(0,0,0,0.1);
		background:-webkit-gradient(linear, left top, left bottom, from(#313131),to(#626262));
		background:-moz-linear-gradient(top, #333, #666);
		background:#666;
		color:#fff;
		text-shadow:0 -1px 0 rgba(0,0,0,0.2);
	}	
	

	.slm_sel {
		-webkit-appearance: button;
		-moz-appearance: button;
		appearance: button;
		background:-webkit-gradient(linear, left top, left bottom, from(#FFF),to(#EEE));
		background:-moz-linear-gradient(top, #fff, #eee);
		background:#eee;
		border: none;
		-webkit-border-radius:6px;
		-moz-border-radius:6px;
		border-radius:6px;
		cursor: pointer;
		font-size: auto;
		height: 45px;
		line-height: 45px;
		overflow:hidden;
		text-indent: 1em;
		white-space:nowrap;
		width: 150px;
	}
	
	#start_time {
		width:80px;
	}

	#slm_main_data {
		position:relative;
	}
	
	#remark {
		width:100%;
	}

	.slm_holiday {
		background-color: #fadcd3;
		color: #e2b8ac;
		filter:alpha(opacity=70);
		font-size: 24px;
		left:0px;
		opacity:0.7;
		position:absolute;
		text-align: center;
		top:0px;
	}

	.slm_on_business {
		background-color: #669966;
		color: #ffffcc;
		filter:alpha(opacity=30);
		font-size: 24px;
		left:0px;
		opacity:0.3;
		position:absolute;
		text-align: center;
		top:0px;
	}

